# Example .env lang to format para sa .env nyo. Don't put real keys

USER_NAME=USER_NAME
DB_PASSWORD=
DB_PORT=1234
DATABASE=Database
JWT_SECRET_KEY=6d803e...... # openssl rand -hex 32 SAME LANG SILA
JWT_REFRESH_TOKEN=050bcb...... # openssl rand -hex 32