# Example .env lang to format para sa .env nyo. Don't put real keys

env
# C:/Users/Calexx/StudioProjects/BUCSarap/backend/.env

USER_NAME=
DB_PASSWORD=
DB_PORT=3306
DB_HOST=localhost
DATABASE=bucsarap
DATABASE_URL=
ACCESS_SECRET_KEY=
REFRESH_SECRET_KEY=